
.classpath
.idea/misc.xml
.project
*.prefs
*.class
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
*.version
*.index
*.tree
*.resources
*.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
*.xml
*.ser
*.log
*.setup
*.properties
.metadata/.plugins/org.eclipse.ui.intro/introstate
*.state
*.ini
